{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans cette task List Application </h1>

    <p style="font-size: 1.5rem;">Je suis un jeune développeur Web en recherche d'une alternance. La programmation est une passion et j'ai à coeur de m'améliorer chaque jours.</p>

    <p style="font-size: 1.5rem;">Dans cette application, je réalise une To-do-List en utilisant le framework Symfony. Ceci et l'un de mes premiers programmes avec ce framework et j'espère que vous l'apprécierez !</p>

{% endblock %}
