{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans ce task blog</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia libero ut porro explicabo laboriosam, ratione doloremque molestiae labore velit, suscipit quam earum dolorum! Velit, consequuntur iure nostrum tempore labore recusandae pariatur optio quaerat, minima obcaecati dolorem quasi dolore. Facilis, adipisci.</p>

    <p>Accusantium sequi dolore excepturi pariatur reprehenderit tempora corporis consequatur, quia vero enim eveniet, praesentium modi autem ex dolorem voluptatum recusandae veritatis adipisci? Similique in soluta totam assumenda reprehenderit nostrum sapiente corrupti dicta vitae, tempora vero. Exercitationem sed deleniti totam doloribus.</p>

{% endblock %}
